<body style="background-color: rgb(118, 98, 158);">
<app-navbar></app-navbar>
<body style="background-color: rgb(118, 98, 158);"> 
<div id="outPopUp" class="container">
  <div class="row">
      <div id="textcent" class="col-md-6 mt-5 mx-auto">
          
        <div class="card-header"><h1 class="text-center text-info fw-bold">FAQ</h1></div>
              <br>
          <div class="box">
              <br>
              <div class="faqs">
                  <img src="" style="width:50%">
                 <details>
                    <summary>What is the goal of gaming club?</summary>
                    <br>
                    <p align="center" class="text text-info">The goal for Gaming Club is to provide community and engage with students through video games and tournament events. We aim to provide 3 events each semester. Games you can expect to see at tournaments or events are Super Smash, NBA 2k, Fifa, Fortnite, and Minecraft.
                      </p>
                 </details>
                 <details>
                    <summary>GAME CLUB RULES</summary>
                    <br>
                    <p align="center" class="text text-info fw-bold">1. Play nice, win nice, lose nice.</p>
                      <p>2. Everyone cleans up, and check the floor.</p>
                      <p>3. No quitting unless all players want to quit.</p> 
                      <p>4. Drinks and food need to be far away from board games. Clean hands.</p> 
                      <p>5. Bag components and put away games as you found them. Stack horizontally.</p> 
                      <p>6. No boxes on the floor.</p> 
                      <p>7. Quiet-ish voices.</p> 
                      <p>8. (optional) No talking to the person whose turn it is.  This allows that player to make their own decisions without influence from the general populace. 
                    </p>
                 </details>
                 
              </div>
           </div>
           <br>
           <br>
      </div>
  </div>

