<body style="background-color: rgb(118, 98, 158);">
<app-navbar></app-navbar>
<body style="background-color: rgb(118, 98, 158);">
<div id="outPopUp" class="container">
  
  <div class="row">
      <div id="textcent" class="col-md-6 mt-5 mx-auto">
          
        <div class="card-header"><h1 class="text-center text-body fw-bold ">About</h1></div>
              <br>
              <img src="./assets/logo.jpg" style="width:100%" class="card border-danger mb-3">
              <br>
              <br>
              <h5 align="center" class="text-body fw-bold">Gaming club is an opportunity for students to socialize and have fun together based on their hobby of playing video games. Students will have an opportunity to play multi and single player games, and spend time discussing gaming strategies and preferences.
              </h5>
          <br>
          <h2 id="tagging" style="text-align:center" class="text-danger fw-bold">ADMINISTRATORS</h2>
          <br>
          
              </div>
              
                <div class="column">
                  <div class="card" class="card border-light mb-3">
                    <img src="./assets/nabil.jpg" style="width:100%">
                    <div class="container">
                      <br>
                      <h2 style="text-align:center" class="text-body fw-bold">MUHAMMAD NABIL AMIN MASTOROH</h2>
                      <p class="title" style="text-align:center" class="text-danger ">Administrator</p>
                      <p style="text-align:center" class="text-success">📷: nabil_amin</p>
                    </div>
                  </div>
                  <br>
                <br>
                </div>
                
                




